


.text-white{
    color:rgb(var(--white-color)) 
}
.text-grey{
    color:rgb(var(--grey-color))
}
.text--dark-cta{
    color:rgba(var(--cta-color),.5)
}
.text-font-base{
    font-family:var(--fontFamilyBase)
}
.text-italic{
    font-style:italic
}
.text-8{
    font-size:8px
}
.text-300{
    font-weight:300
}
.text-400{
    font-weight:400
}
.text-500{
    font-weight:500
}
.text-600{
    font-weight:600
}
.text-700{
    font-weight:700
}
.text-800{
    font-weight:800
}
._wide[_nghost-tuu-c144]{
    display:block;
    width:100%
}
.button, .link{
    display:inline-flex;
    justify-items:center;
    justify-content:center;
    align-items:center;
    align-content:center;
    text-decoration:none;
    outline:none
}
.button.text-underline, .link.text-underline{
    text-decoration:underline
}
.button-content, .link-content{
    text-transform:inherit;
    font-style:inherit;
    font-size:inherit;
    display:inline-grid;
    align-items:center;
    justify-items:center;
    justify-content:center;
    grid-auto-flow:column;
    width:100%
}
.button-content{
    grid-column-gap:8px
}
.link-content{
    grid-column-gap:4px
}
.animation-rotation{
    animation:animation-rotation 3s linear infinite;
    position:absolute;
    top:calc(50% - 9px);
    left:calc(50% - 9px);
    z-index:2
}
@keyframes animation-rotation{
    to{
        transform:rotate(1turn)
    }
}
.button{
    box-sizing:border-box;
    display:inline-block;
    position:relative;
    line-height:100%;
    outline:none;
    cursor:pointer;
    
    border-radius:2px;
    font-family:var(--font-family-base);
    font-weight:500;
    transition:background-color var(--transitionTime),opacity var(--transitionTime);
    overflow:hidden
}
.button .button-content{
    text-align:center;
    position:relative;
    height:100%;
    width:100%;
    line-height:120%;
    min-height:var(--stb-custom-button__min-height);
    padding:5px var(--stb-custom-button__padding-right) 5px var(--stb-custom-button__padding-left);
    font-size:var(--stb-custom-button__font-size-title);
    transition:transform .4s;
    transform-origin:top center
}
.button._x-large .button-content{
    --stb-custom-button__min-height:54px;
    --stb-custom-button__font-size-title:22px;
    --stb-custom-button__padding-left:60px;
    --stb-custom-button__padding-right:60px
}
.button._large .button-content{
    --stb-custom-button__min-height:47px;
    --stb-custom-button__font-size-title:19px;
    --stb-custom-button__padding-left:50px;
    --stb-custom-button__padding-right:50px
}
.button._medium .button-content{
    --stb-custom-button__min-height:40px;
    --stb-custom-button__font-size-title:15px;
    --stb-custom-button__padding-left:32px;
    --stb-custom-button__padding-right:32px
}
.button._small .button-content{
    --stb-custom-button__min-height:29px;
    --stb-custom-button__font-size-title:11px;
    --stb-custom-button__padding-left:18px;
    --stb-custom-button__padding-right:18px
}
.button._wide{
    width:100%
}
.button._primary{
    color:rgb(var(--black-color))
}
.button._primary._cta .button-content{
    background-color:rgb(var(--cta-color))
}
@media screen and (min-width:1024px){
    .button._primary._cta .button-content:hover{
        background-color:rgb(var(--cta-hover-color))
    }
}
.button._primary._blue .button-content{
    background-color:rgb(var(--blue-color))
}
@media screen and (min-width:1024px){
    .button._primary._blue .button-content:hover{
        background-color:rgb(var(--blue-hover-color))
    }
}
.button._primary._gold .button-content{
    background-color:rgb(var(--gold-color))
}
@media screen and (min-width:1024px){
    .button._primary._gold .button-content:hover{
        background-color:rgb(var(--gold-hover-color))
    }
}
.button._primary._white .button-content{
    background-color:rgb(var(--white-color))
}
@media screen and (min-width:1024px){
    .button._primary._white .button-content:hover{
        background-color:rgb(var(--cta-second-color))
    }
}
.button._outline._cta{
    color:rgb(var(--cta-color));
    border:1px solid rgb(var(--cta-color))
}
@media screen and (min-width:1024px){
    .button._outline._cta:hover{
        background-color:rgb(var(--cta-color),.15)
    }
}
.button._outline._blue{
    color:rgb(var(--blue-color));
    border:1px solid rgb(var(--blue-color))
}
@media screen and (min-width:1024px){
    .button._outline._blue:hover{
        background-color:rgb(var(--blue-color),.15)
    }
}
.button._outline._gold{
    color:rgb(var(--gold-color));
    box-shadow:1px solid rgb(var(--gold-color))
}
@media screen and (min-width:1024px){
    .button._outline._gold:hover{
        background-color:rgb(var(--gold-color),.15)
    }
}
.button._outline._white{
    color:rgb(var(--white-color));
    border:1px solid rgb(var(--white-color))
}
@media screen and (min-width:1024px){
    .button._outline._white:hover{
        background-color:rgb(var(--white-color),.15)
    }
}
.button._outline._x-large .button-content{
    --stb-custom-button__min-height:52px
}
.button._outline._large .button-content{
    --stb-custom-button__min-height:45px
}
.button._outline._medium .button-content{
    --stb-custom-button__min-height:38px
}
.button._outline._small .button-content{
    --stb-custom-button__min-height:27px
}
.button._secondary._cta{
    color:rgb(var(--cta-color));
    background-color:rgba(var(--cta-color),.15)
}
@media screen and (min-width:1024px){
    .button._secondary._cta:hover{
        background-color:rgba(var(--cta-color),.25)
    }
}
.button._secondary._blue{
    color:rgb(var(--blue-color));
    background-color:rgba(var(--blue-color),.15)
}
@media screen and (min-width:1024px){
    .button._secondary._blue:hover{
        background-color:rgba(var(--blue-color),.25)
    }
}
.button._secondary._gold{
    color:rgb(var(--gold-color));
    background-color:rgba(var(--gold-color),.15)
}
@media screen and (min-width:1024px){
    .button._secondary._gold:hover{
        background-color:rgba(var(--gold-color),.25)
    }
}
.button._secondary._white{
    color:rgb(var(--white-color));
    background-color:rgba(var(--white-color),.15)
}
@media screen and (min-width:1024px){
    .button._secondary._white:hover{
        background-color:rgba(var(--white-color),.25)
    }
}
.button._awaiting .button-content{
    color:transparent
}
.button._ellipsis{
    display:inline-block;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap
}
.button._border-hover{
    font-weight:700
}
@media screen and (min-width:1024px){
    .button._border-hover:after{
        content:"";
        display:block;
        position:absolute;
        margin-top:4px;
        left:0;
        width:100%;
        height:2px;
        transform:scale(0);
        transform-origin:center;
        transition:transform ease-in-out var(--transitionTime),height var(--transitionTime);
        background-color:inherit
    }
    .button._border-hover._cta:after{
        background-color:rgb(var(--cta-hover-color))
    }
    .button._border-hover._blue:after{
        background-color:rgb(var(--blue-hover-color))
    }
    .button._border-hover._gold:after{
        background-color:rgb(var(--gold-hover-color))
    }
    .button._border-hover._white:after{
        background-color:rgb(var(--cta-second-color))
    }
    .button._border-hover:hover{
        display:inline-flex;
        flex-direction:column
    }
    .button._border-hover:hover._large{
        min-height:47px
    }
    .button._border-hover:hover._large .button-content{
        min-height:41px;
        transform:scaleY(.95)
    }
    .button._border-hover:hover._x-large{
        min-height:54px
    }
    .button._border-hover:hover._x-large .button-content{
        min-height:48px;
        transform:scaleY(.95)
    }
    .button._border-hover:hover:after{
        position:static;
        transform:scale(1)
    }
}
.button._disabled{
    pointer-events:none;
    opacity:.3
}
.button._active, .button:active{
    opacity:.9
}
.link{
    display:inline-block;
    padding-bottom:1px;
    cursor:pointer
}
.link._x-large .link-content{
    font-size:16px
}
.link._large .link-content, .link._medium .link-content{
    font-size:14px
}
.link._small .link-content{
    font-size:11px
}
.link._primary{
    color:rgb(var(--cta-color));
    border-bottom:1px solid rgb(var(--cta-color))
}
@media screen and (min-width:1024px){
    .link._primary:hover{
        color:rgb(var(--cta-second-color));
        border-color:rgb(var(--cta-second-color))
    }
}
.link._primary._blue{
    color:rgb(var(--blue-color));
    border-bottom:1px solid rgb(var(--blue-color))
}
@media screen and (min-width:1024px){
    .link._primary._blue:hover{
        color:rgb(var(--blue-second-color));
        border-color:rgb(var(--blue-second-color))
    }
}
.link._primary._white{
    color:rgb(var(--white-color));
    border-bottom:1px solid rgb(var(--white-color))
}
@media screen and (min-width:1024px){
    .link._primary._white:hover{
        color:rgb(var(--cta-second-color));
        border-color:rgb(var(--cta-second-color))
    }
}
.link._secondary{
    color:rgba(var(--cta-color),.5);
    border-bottom:1px solid rgba(var(--cta-color),.5)
}
@media screen and (min-width:1024px){
    .link._secondary:hover{
        color:rgba(var(--cta-color),.9);
        border-color:rgba(var(--cta-color),.9)
    }
}
.link._secondary._blue{
    color:rgba(var(--blue-color),.5);
    border-bottom:1px solid rgba(var(--blue-color),.5)
}
@media screen and (min-width:1024px){
    .link._secondary._blue:hover{
        color:rgba(var(--blue-color),.9);
        border-color:rgba(var(--blue-color),.9)
    }
}
.link._secondary._white{
    color:rgba(var(--white-color),.5);
    border-bottom:1px solid rgba(var(--white-color),.5)
}
@media screen and (min-width:1024px){
    .link._secondary._white:hover{
        color:rgba(var(--white-color),.9);
        border-color:rgba(var(--white-color),.9)
    }
}
.link._active, .link:active{
    opacity:.9
}
.link._uppercase{
    text-transform:uppercase
}
.link._disabled{
    pointer-events:none;
    opacity:.3
}
 

 