.quick-registration[_ngcontent-baf-c339] {
    --input-height:44px;
    height:100%;
    padding:14px 20px 23px;
    background:radial-gradient(131.97% 100% at 50% 0,#4671c6 0,rgba(22,54,103,0) 61.19%),linear-gradient(180deg,#093282 14.16%,rgba(9,26,68,0) 76.59%),rgb(var(--background-sport));
    box-shadow:0 8px 100px rgba(58,136,255,.4),inset -15px 0 10px -10px rgba(105,165,254,.3),inset 15px 0 10px -10px rgba(105,165,254,.3),inset 0 0 8px rgba(105,165,254,.3);
    border-radius:20px
  }
  @media screen and (min-width:1280px) {
    .quick-registration[_ngcontent-baf-c339] {
      --input-height:50px;
      padding:16px 24px 24px
    }
  }
  .quick-registration._promo-list[_ngcontent-baf-c339] {
    padding:20px
  }
  .quick-registration._casino[_ngcontent-baf-c339],
  .quick-registration._logged-casino[_ngcontent-baf-c339] {
    background:radial-gradient(131.97% 100% at 50% 0,#8f36e3 0,rgba(54,15,128,0) 61.19%),linear-gradient(180deg,#27108e 14.16%,rgba(25,9,68,0) 76.59%),#160840;
    box-shadow:0 8px 100px rgba(191,139,247,.4),inset 0 0 8px rgba(228,193,255,.3),inset 15px 0 10px -10px rgba(188,105,254,.3),inset -15px 0 10px -10px rgba(188,105,254,.3)
  }
  .quick-registration._logged[_ngcontent-baf-c339] {
    padding:20px 20px 24px
  }
  @media screen and (min-width:1280px) {
    .quick-registration._logged[_ngcontent-baf-c339] {
      padding:24px 24px 28px
    }
  }
  @media screen and (max-width:767.98px) {
    .quick-registration._logged[_ngcontent-baf-c339]:lang(fi) {
      margin-bottom:32px
    }
  }
  .quick-registration--title[_ngcontent-baf-c339] {
    text-shadow:0 4px 32px rgba(var(--background-casino),.5),0 4px 16px rgba(var(--background-casino),.5)
  }
  .quick-registration--arrow[_ngcontent-baf-c339] {
    color:rgb(var(--background-sport))
  }
  .quick-registration--label[_ngcontent-baf-c339] {
    display:block
  }
  .quick-registration--amount[_ngcontent-baf-c339] {
    display:flex;
    align-items:center;
    height:var(--input-height);
    border-radius:12px;
    padding:7px 12px;
    background:rgb(var(--white-1000));
    border:1px solid transparent
  }
  @media screen and (min-width:1280px) {
    .quick-registration--amount[_ngcontent-baf-c339]:hover {
      border:1px solid rgb(var(--purple-1000));
      box-shadow:0 0 8px rgb(var(--purple-1000))
    }
  }
  .quick-registration--input-amount[_ngcontent-baf-c339] {
    color:rgb(var(--background-casino))
  }
  .quick-registration--country[_ngcontent-baf-c339] {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-auto-flow:column;
    align-items:stretch;
    grid-column-gap:8px
  }
  .quick-registration--button[_ngcontent-baf-c339] {
    width:100%;
    display:block
  }
  .quick-registration--button[_ngcontent-baf-c339]     .button {
    width:100%;
    padding-top:10px;
    padding-bottom:9px;
    height:auto
  }
  .quick-registration--form[_ngcontent-baf-c339] {
    display:grid;
    grid-template-columns:1fr;
    row-gap:8px
  }
  @media screen and (min-width:1280px) {
    .quick-registration--form[_ngcontent-baf-c339] {
      row-gap:12px
    }
  }
  .quick-registration--bonus-list[_ngcontent-baf-c339] {
    display:grid;
    grid-gap:12px
  }
  .quick-registration--bonus-item[_ngcontent-baf-c339] {
    position:relative;
    padding:7px;
    background:rgb(var(--white-1000));
    border-radius:12px;
    border:1px solid transparent;
    transition:box-shadow var(--transitionTime) linear
  }
  .quick-registration--bonus-item[_ngcontent-baf-c339]   .option--icon-wrapper[_ngcontent-baf-c339] {
    transform:scale(.31304);
    border-radius:100%;
    background:rgb(var(--background-casino));
    position:absolute
  }
  .quick-registration--bonus-item._promo-list[_ngcontent-baf-c339] {
    padding:9px 8px;
    min-height:55px;
    display:flex;
    align-items:center
  }
  .quick-registration--bonus-item._promocode[_ngcontent-baf-c339] {
    padding:0 8px;
    background:rgba(var(--primary-color),.1);
    border:1px solid rgb(var(--primary-color));
    border-radius:12px
  }
  .quick-registration--bonus-item._error-visible[_ngcontent-baf-c339] {
    border:1px solid rgb(var(--red-1000))
  }
  .option[_ngcontent-baf-c339] {
    width:100%;
    display:grid;
    grid-auto-flow:column;
    align-items:center;
    justify-content:flex-start;
    grid-column-gap:8px;
    grid-template-columns:32px 1fr;
    color:rgb(var(--background-casino))
  }
  @media screen and (min-width:1280px) {
    .option[_ngcontent-baf-c339]:hover   .category-circle--img[_ngcontent-baf-c339]:first-child {
      top:25%;
      right:-35%;
      transform:translateY(-50%) rotate(184deg)
    }
    .option[_ngcontent-baf-c339]:hover   .category-circle--img[_ngcontent-baf-c339]:last-child {
      left:-30%;
      bottom:-100%;
      transform:rotate(-174deg)
    }
  }
  .option--holder[_ngcontent-baf-c339] {
    height:32px;
    width:32px;
    display:flex;
    justify-content:center;
    align-items:center
  }
  .option--icon[_ngcontent-baf-c339] {
    display:block;
    min-width:27px;
    object-fit:contain;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(1.54);
    z-index:3
  }
  .option--info[_ngcontent-baf-c339] {
    display:grid;
    text-align:left
  }
  .option--info[_ngcontent-baf-c339]   ._casino[_ngcontent-baf-c339] {
    color:rgb(var(--purple-1000))
  }
  .option--info[_ngcontent-baf-c339]   ._sport[_ngcontent-baf-c339] {
    color:rgb(var(--secondary-color-blue))
  }
  .option--info._not-bonus[_ngcontent-baf-c339] {
    font-weight:800;
    font-size:19px;
    line-height:120%;
    letter-spacing:.04em;
    text-transform:uppercase;
    color:rgb(var(--background-casino))
  }
  .option--info-text[_ngcontent-baf-c339] {
    line-height:1.07
  }
  .option._promocode-selected[_ngcontent-baf-c339] {
    display:block
  }
  .option._promocode-selected[_ngcontent-baf-c339]   .option--info[_ngcontent-baf-c339] {
    display:grid;
    grid-template-columns:1fr auto;
    grid-gap:12px;
    align-items:center
  }
  [_nghost-baf-c339]     .select-control__list-wrap {
    top:calc(100% - 1px);
    background:rgb(var(--white-1000));
    color:rgb(var(--background-casino));
    border:1px solid rgb(var(--purple-1000));
    border-top:none;
    padding-bottom:12px
  }
  [_nghost-baf-c339]     .select-control__list-item {
    max-width:100%;
    overflow-x:hidden;
    color:rgb(var(--secondary-text-color))
  }
  [_nghost-baf-c339]     .select-control__list-item.active {
    color:rgb(var(--purple-1000))
  }
  @media screen and (min-width:1280px) {
    [_nghost-baf-c339]     .select-control__list-item:hover {
      color:rgba(var(--background-casino))
    }
  }
  [_nghost-baf-c339]     .stb-select._dark div.select-control__list-item {
    color:rgba(var(--background-casino))
  }
  [_nghost-baf-c339]     ._country .show-list .select-control__list-wrap {
    border:1px solid rgb(var(--primary-color));
    padding-bottom:12px;
    max-height:165px
  }
  [_nghost-baf-c339]     ._country .show-list .select-control__list-wrap:focus-within .select-control__search-icon--prefix,
  [_nghost-baf-c339]     ._country .show-list .select-control__list-wrap:focus .select-control__search-icon--prefix {
    display:none
  }
  @media screen and (min-width:768px) {
    [_nghost-baf-c339]     ._country .show-list .select-control__list-wrap {
      max-height:180px
    }
  }
  [_nghost-baf-c339]     ._country .show-list .select-control__list-item {
    margin-bottom:12px
  }
  [_nghost-baf-c339]     ._country .select-control__button {
    display:flex;
    align-items:center
  }
  [_nghost-baf-c339]     ._country .select-control__button-icon {
    order:-1;
    position:static;
    margin-right:8px;
    transform:none
  }
  [_nghost-baf-c339]     ._country .quick-registration--arrow {
    position:absolute;
    right:16px;
    top:50%;
    transform:translateY(-50%)
  }
  [_nghost-baf-c339]     .select-control__search-input {
    background:rgb(var(--white-1000));
    color:rgb(var(--background-casino));
    border-bottom:1px solid rgba(var(--background-casino),.1);
    padding-bottom:8px
  }
  [_nghost-baf-c339]     .select-control__search-input::placeholder {
    opacity:.5;
    color:rgb(var(--background-casino))
  }
  [_nghost-baf-c339]     .select-control__search-input:focus-within::placeholder,
  [_nghost-baf-c339]     .select-control__search-input:focus::placeholder {
    opacity:.7;
    color:rgb(var(---background-casino))
  }
  @media screen and (min-width:1280px) {
    [_nghost-baf-c339]     .select-control__search-input:hover::placeholder {
      opacity:.7;
      color:rgb(var(---background-casino))
    }
  }
  [_nghost-baf-c339]     .select-control__search-icon--postfix {
    color:rgb(var(--background-casino));
    top:10px;
    right:0;
    width:18px
  }
  [_nghost-baf-c339]     .select-control__list {
    overflow-x:hidden;
    max-width:100%;
    max-height:105px
  }
  @media screen and (min-width:768px) {
    [_nghost-baf-c339]     .select-control__list {
      max-height:110px
    }
  }
  [_nghost-baf-c339]     .quick-registration--input-amount .input-number-control__input {
    width:100%;
    height:var(--input-height);
    outline:none;
    background:none;
    border:none;
    color:rgb(var(--background-casino));
    font-weight:600;
    font-size:28px;
    padding:0;
    text-align:left;
    font-family:var(--font-family-primary)
  }
  [_nghost-baf-c339]     .quick-registration--amount .select-control__button,
  [_nghost-baf-c339]     .quick-registration--country .select-control__button {
    background:rgb(var(--white-1000));
    color:rgb(var(--background-casino));
    border:1px solid transparent;
    text-transform:uppercase;
    height:44px;
    padding:10px 8px;
    border-radius:12px
  }
  @media screen and (min-width:1280px) {
    [_nghost-baf-c339]     .quick-registration--amount .select-control__button,
    [_nghost-baf-c339]     .quick-registration--country .select-control__button {
      padding:13px 8px;
      height:50px
    }
  }
  [_nghost-baf-c339]     .quick-registration--amount .select-control__button-icon,
  [_nghost-baf-c339]     .quick-registration--country .select-control__button-icon {
    right:8px
  }
  @media screen and (min-width:1280px) {
    [_nghost-baf-c339]     .quick-registration--amount .select-control:hover:not(.show-list) .select-control__button,
    [_nghost-baf-c339]     .quick-registration--country .select-control:hover:not(.show-list) .select-control__button {
      background:rgb(var(--white-1000));
      color:rgb(var(--background-casino));
      border:1px solid rgb(var(--purple-1000));
      box-shadow:0 0 8px rgb(var(--purple-1000))
    }
  }
  [_nghost-baf-c339]     .quick-registration--amount .country-flag,
  [_nghost-baf-c339]     .quick-registration--country .country-flag {
    width:24px;
    height:24px;
    border-radius:100%;
    object-fit:cover
  }
  [_nghost-baf-c339]     .quick-registration--amount ._currency-padding[ng-reflect-disabled=true],
  [_nghost-baf-c339]     .quick-registration--amount ._currency-padding[ng-reflect-is-disabled=true],
  [_nghost-baf-c339]     .quick-registration--country ._currency-padding[ng-reflect-disabled=true],
  [_nghost-baf-c339]     .quick-registration--country ._currency-padding[ng-reflect-is-disabled=true] {
    opacity:.5
  }
  [_nghost-baf-c339]     .quick-registration--amount ._currency-padding .select-control__button,
  [_nghost-baf-c339]     .quick-registration--country ._currency-padding .select-control__button {
    padding:8px 8px 8px 16px
  }
  [_nghost-baf-c339]     .quick-registration--country .select-control__placeholder {
    font-family:var(--font-family-primary);
    font-weight:600;
    font-size:14px;
    line-height:90%;
    text-transform:unset;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:calc(100% - 47px)
  }
  [_nghost-baf-c339]     .quick-registration--country:first-child .select-control__button {
    padding:8px 16px
  }
  [_nghost-baf-c339]     .select-control.show-list .select-control__button {
    border-radius:12px 12px 0 0;
    border:1px solid rgb(var(--purple-1000));
    border-bottom:none;
    box-shadow:0 0 8px rgb(var(--purple-1000))
  }
  [_nghost-baf-c339]     .control-error {
    display:none
  }
  [_nghost-baf-c339]     .control-error.visible {
    display:block;
    line-height:100%;
    letter-spacing:normal;
    text-transform:none
  }
  .category-sphere[_ngcontent-baf-c339] {
    width:115px;
    height:115px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
  }
  .category-sphere[_ngcontent-baf-c339]:after {
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    border-radius:100%;
    box-shadow:inset 0 8.4px 8px -6.3px rgba(142,174,255,.45),inset 0 8.4px 18.9px -6.3px rgba(142,174,255,.45),inset 0 -8.4px 18.9px -6.3px rgba(201,85,255,.45);
    background:radial-gradient(68.57% 68.57% at 37.14% 31.43%,rgba(128,163,239,.1) 20%,rgba(105,119,218,.1) 100%)
  }
  @supports ((-webkit-backdrop-filter:none) or (backdrop-filter:none)) {
    .category-sphere[_ngcontent-baf-c339]:after {
      box-shadow:inset 0 8.4px 8px -6.3px rgba(142,174,255,.25),inset 0 8.4px 18.9px -6.3px rgba(142,174,255,.25),inset 0 -8.4px 18.9px -6.3px rgba(201,85,255,.25);
      background:radial-gradient(68.57% 68.57% at 37.14% 31.43%,rgba(128,163,239,.1) 0,rgba(105,119,218,.1) 100%);
      -webkit-backdrop-filter:blur(4.5px);
      backdrop-filter:blur(4.5px)
    }
  }
  .category-circle[_ngcontent-baf-c339] {
    width:100px;
    height:100px;
    position:relative;
    overflow:hidden;
    box-shadow:inset 0 8.4px 8px -6.3px rgba(142,174,255,.25),inset 0 8.4px 18.9px -6.3px rgba(142,174,255,.25),inset 0 -8.4px 18.9px -6.3px rgba(201,85,255,.25);
    -webkit-clip-path:circle(50% at 50% 50%);
    clip-path:circle(50% at 50% 50%);
    z-index:1
  }
  .category-circle--img[_ngcontent-baf-c339] {
    position:absolute;
    max-width:unset;
    transition:all 1s ease-in-out
  }
  .category-circle--img[_ngcontent-baf-c339]:first-child {
    top:63%;
    right:-14%;
    width:170px;
    height:327px
  }
  .category-circle--img[_ngcontent-baf-c339]:last-child {
    mix-blend-mode:screen;
    transform-origin:64px 204px;
    left:-20%;
    bottom:-33%;
    transform:rotate(-10deg);
    width:143px;
    height:327px
  }
  

.quick-registration--button[_ngcontent-baf-c139] {
    width: 100%;
    display: block;
}



.button._primary[_ngcontent-baf-c139] {
    color: rgb(107,64,0);
    box-shadow: 0 0.2em 0 rgb(var(--primary-box-shadow-color));
    font-size: 20px;
}

.button._small[_ngcontent-baf-c139] {
    padding: 15px 40px;
    height: 50px;
    min-width: 147px;
    font-size: 20px;
}


.navigation[_ngcontent-ckk-c170] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 7px 10px;
    background-color: rgba(var(--purple-400),.75);
    box-shadow: 0 1px 0 rgba(141,108,205,.25);
}

.navigation--search[_ngcontent-ckk-c170] {
    background: rgba(var(--purple-1000),.2);
    border: 1px solid rgba(var(--purple-1000),.8);
    border-radius: 14px;
    padding: 10px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 54px;
}

.navigation--menu[_ngcontent-ckk-c139] {
    color: var(--text-secondary);
    box-shadow: 0 0.2em 0 rgb(var(--secondary-box-shadow-color));
    min-width: unset;
    width: 38px;
    height: 38px;
    background: rgb(131,66,237);
    border-radius: 14px;
    font-size: 20px;
    }

    


[_nghost-ckk-c139] .navigation--left-side .button._small {
    min-width: unset;
    width: 38px;
    height: 38px;
    padding: 15px 17px;
}




.button._secondary[_ngcontent-ckk-c139] {
    color: var(--text-secondary);
    box-shadow: 0 0.2em 0 rgb(var(--secondary-box-shadow-color));
}





.tapbar[_ngcontent-uia-c170] {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-column-gap: 8px
  }

  .tapbar[_ngcontent-uia-c170] {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgb(var(--background-casino));
    box-shadow: 0 6px 18px rgba(17,21,30,.1);
}


  @media screen and (min-width:540px) {
    .tapbar--button[_ngcontent-uia-c17] {
      margin: 0 10px
    }
  }


  .button._primary[_ngcontent-uia-c139] {
    color: #6B4000;
    background: #FFD768;
    box-shadow: 0 0.2em 0 #DF9846;
    border-radius: 10px;
    padding: 12px 32px;
    height: 38px;
    min-width: 111px;
    font-size: 14px;
    position: relative;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: .06em;
    ;
    text-decoration: none;
    cursor: pointer;
    max-width: 100%;
    transition: box-shadow .2s linear,transform .2s linear;
}



  .button._warn[_ngcontent-uia-c139] {
    color: var(--text-warn);
    background: #56B8FF;
    box-shadow: 0 0.2em 0 #2250C7;
    border-radius: 10px;
    padding: 12px 32px;
    height: 38px;
    min-width: 111px;
    font-size: 14px;
    --text-warn: rgb(var(--white-1000));
    --bg-warn: rgb(var(--secondary-color-blue));
    position: relative;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: .06em;
    ;
    text-decoration: none;
    cursor: pointer;
    max-width: 100%;
    transition: box-shadow .2s linear,transform .2s linear;
}



.button._secondary[_ngcontent-uia-c139] {
    color: var(--text-secondary);
    background: #753AEB;
    box-shadow: 0 0.2em 0 #521BAB;
    border-radius: 10px;
    padding: 12px 32px;
    height: 38px;
    min-width: 111px;
    font-size: 14px;
     --text-secondary: rgb(var(--white-1000));
    --bg-secondary: rgb(var(--purple-1000));
    position: relative;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: .06em;
    ;
    text-decoration: none;
    cursor: pointer;
    max-width: 100%;
    transition: box-shadow .2s linear,transform .2s linear;
}